body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 180px 1fr;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  grid-column: 1;
  grid-row: 1/3;
  background-color: #1d3557;
  color: #f1faee;
  /* padding: 0 60px 0 20px; */
}

.logo {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 0 50px 0 10px;
  gap: 5px;
  font-size: 15px;
  margin-bottom: -20px;
}

.logo-icon {
  height: 50px;
  align-self: center;
}

.sidebar-items-top,
.sidebar-items-bottom {
  display: grid;
  grid-template-rows: 1em 1em 1em 1em 1em 1em;
  row-gap: 30px;
  margin-top: 60px;
  padding: 0 60px 0 20px;
}

.navigation-items {
  font-size: 20px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
}

li > .sidebar-icon {
  height: 1em;
}

.header {
  grid-column: 2;
  grid-row: 1;
  background-color: #f1faee;
  display: grid;
  grid-template-rows: 40px 120px;
  gap: 20px;
}

.header .searchbar-header {
  grid-row: 1;
  display: grid;
  grid-template-columns: 40px 1fr 20px 40px 80px;
  align-items: center;
  gap: 15px;
  padding: 10px 40px;
}

.searchbar-profile {
  height: 40px;
}

.searchbar-icons {
  height: 20px;
}

.searchbar-header > input {
  height: 20px;
  border: 0;
  border-radius: 25px;
  /*add a bit of a gap before and after text*/
  padding: 0 8px;
  margin-right: 60px;
  margin-left: -15px;
}

.header .profile-header {
  grid-row: 2;
  display: grid;
  grid-template-columns: 280px 1fr 100px;
  align-items: center;
  padding: 10px 40px;
}

.profile-header-left {
  grid-column: 1;
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 0;
}

.profile-handle {
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
}

.profile-handle span {
  font-size: 20px;
}

.profile-header-right {
  grid-column: 3;
}

.profile-header-icon {
  height: 60px;
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: #a8dadc;
  box-shadow: inset 0 4px 4px #9bb2b3;
}
